html {
    background-color: rgb(208, 210, 178);
}

div { 
    background-color: beige;
    padding: 35px;
    text-align: center;
    position: relative;
    top: 100px;
    width: 65%;
    margin: auto;
}

h2 {
    font-style: italic;
    font-weight: 550;
}

h3 {
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Instrument Sans', sans-serif;
}