body {
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

main {
    font-family: "Noto Sans", sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#align {
    background-color: antiquewhite;
    padding: 75px;
    border-radius: 15px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 60pt;
    margin-top: auto;
    text-align: center;
}

h2 {
    font-size: 48pt;
    text-align: center;
}

#fortune {
    text-align: center;
    font-size: 18pt;
}

#fortune p {
    line-height: 48pt;
}