body {
    background-color: rgb(52, 47, 44);
}

header {
    width: 1200px;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

header h1, header h2 {
    display: inline;
    text-transform: uppercase;
    position: relative;
    top: -4px;
}

header h2 {
    font-size: 24pt;
}

#container {
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
}

#banner {
    background-color: silver;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: content-box;
}

#volume {
    width: 80px;
    height: 80px;
    position: relative;
    top: 22px;
}

#volume:hover {
    cursor: pointer;
    animation: volumeTurn 3s ease-in-out infinite;
}

@keyframes volumeTurn {
    0% {rotate: 0deg;}
    30% {rotate: 120deg;}
    65% {rotate: -90deg;}
    100% {rotate: 0deg;}
}

#casette {
    width: auto;
    height: 120px ;
}

#controls {
    position: relative;
    top: 10px;
}

ul {
    list-style-type: none;
    border: solid 1px grey;
    padding: 5px;
}

ul li {
    border-bottom: solid 1px grey;
    margin-top: 4px;
}

ul li:first-child {
    margin-top: 0;
}

ul li:last-child {
    border-bottom: none;
}

ul li a {
    font-family: "Source Sans 3";
    text-decoration: none;
}

ul li a:hover {
    color: navy;
}

main h2, footer {
    font-family: "Source Sans 3";
}

main section h2 {
    text-align: center;
    margin-top: -3px;
}

header, header h1, header h2 {
    font-family: "Pixelify Sans";
    font-weight: 550;
    color: white;
}

#char-lcd {
    background-color: #2332d0;
    border: black 10px solid;
    box-sizing: content-box;
    justify-self: flex-end;
    overflow: hidden;
}

#lcdMove {
    animation: lcdEffect 4.5s linear infinite;
    position: relative;
}

@keyframes lcdEffect {
    0% {opacity: 1;}
    12% {opacity: 1;}
    15% {opacity: 0;}
    16% {opacity: 1;}
    19% {opacity: 1;}
    20% {opacity: 0;}
    23% {opacity: 1;}
    24% {opacity: 1;}
    27% {opacity: 0;}
    28% {opacity: 1;
        left: 0;}
    55% {left: 0;}
    97% {left: -1300px;
        opacity: 1;}
    100% {opacity: 0;}
}

footer {
    background-color: rgb(126, 65, 50) ;
    padding: 25px;
    margin: auto;
    text-align: center;
}

#cabinet {
    background-color: rgb(126, 65, 50);
    padding: 25px;
    margin: auto;
}

.shelf {
    background-color: rgb(79, 33, 33);
    padding: 20px;
    margin-block: 40px;
    display: flex;
    justify-content: space-around;
}

.tape {
    background-color: white;
    width: 350px;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;
}