body {
    background-image: url();
}

header {
    width: 1200px;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header h1, header h2 {
    display: inline;
    text-transform: uppercase;
    text-align: center;
    margin-right: 40px;
}

header h1 {
    margin-left: 5rem;
}

header h2 {
    font-size: 24pt;
}

#container {
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
}

ul {
    list-style-type: none;
    border: solid 1px grey;
    padding: 5px;
}

ul li {
    border-bottom: solid 1px grey;
    margin-top: 4px;
}

ul li:first-child {
    margin-top: none;
}

ul li:last-child {
    border-bottom: none;
}

ul li a {
    font-family: "Source Sans 3";
    text-decoration: none;
}

ul li a:hover {
    color: navy;
}

main h2, footer {
    font-family: "Source Sans 3";
}

main section h2 {
    text-align: center;
    margin-top: -3px;
}

header, header h1, header h2 {
    font-family: "Pixelify Sans";
    font-weight: 550;
    color: rgb(40, 40, 40);
}

#char-lcd {
    background-color: #CBD6D1;
    border: black 5px solid;
    padding: 5px;
    box-sizing: border-box;
    justify-self: flex-end;
    overflow: hidden;
}

#lcdMove {
    animation: lcdEffect 4.5s linear infinite;
    position: relative;
}

@keyframes lcdEffect {
    0% {opacity: 1;}
    12% {opacity: 1;}
    15% {opacity: 0;}
    16% {opacity: 1;}
    19% {opacity: 1;}
    20% {opacity: 0;}
    23% {opacity: 1;}
    24% {opacity: 1;}
    27% {opacity: 0;}
    28% {opacity: 1;
        left: 0;}
    55% {left: 0;}
    97% {left: -1300px;
        opacity: 1;}
    100% {opacity: 0;}
}

footer {
    background-color: rgb(126, 65, 50) ;
    padding: 25px;
    margin: auto;
    text-align: center;
}

#cabinet {
    background-color: rgb(126, 65, 50);
    padding: 25px;
    margin: auto;
}

.shelf {
    background-color: rgb(79, 33, 33);
    padding: 20px;
    margin-block: 40px;
    display: flex;
    justify-content: space-around;
}

.tape {
    background-color: white;
    width: 350px;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;
}