/* Things to Do:


3. Animations to support transition between form stages and final text blocks


*/

body {
    background-color: black;
    width: 1200px;
    height: 750px;
}

main {
    text-transform: uppercase;

    background: #252C4F;
    background: radial-gradient(circle, rgba(37, 44, 79, 0.75) 70%, rgba(84, 100, 181, 0.75) 100%);
    color: white;
    box-shadow: 0px 0px 50px #1db5ed;
    border-radius: 15px;
    

    width: 65%;
    height: 750px;

    margin: auto;
    margin-top: 3.25rem;

    position: relative;
    /* left: 100%; */

    padding: 30px;

    /* overflow: hidden; */
}

label, legend, div, #date, h1 {
    font-family: "Doto", sans-serif;
    font-weight: 600;
}

legend {
    font-size: 18pt;
    font-weight: 900;
    margin-bottom: 1.25rem;
}

h1 {
    font-weight: 900;
}

fieldset {
    border: none;
}

form {
    width: 90%;
    min-width: 500px;
    margin: auto;

    font-size: 14pt;
}

#progress {
    margin-bottom: 3rem;
}

#progress-bar-back {
    width: 300px;
    height: 20px;
    background-color: #d9d9d9;
    display: flex;
    justify-self: end;

    border: solid 5px #9CA9BF;
    border-radius: 5px;
}

#progress-bar {
    width: 0px;
    height: 20px;
    background-color: #758DF8;
    transition: all 0.45s ease;
}

#progress-text {
    text-align: end;
    margin-bottom: 1rem;
    text-transform: uppercase;

    font-size: 12pt;
}

.text {
    font-family: "Doto", sans-serif;
    font-weight: 600;
    color: lightgray;

    background-color: #5a5a5a;

    border: 2px solid #b0aeae63;

    padding: 3px;
    display: block;
}

.text:focus {
    outline: 2px solid aqua ;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
}

label {
    font-size: 16pt;
}

#aliens-real .text {
    display: block;
    margin-block: 0.5rem;
}

#init-qs .init-button, #init-qs label {
    display: block;
    margin-block: 0.65rem;
}

.buttons {
    display: flex;
    gap: 60px;

    position: absolute;
    bottom: 60px;
    left: 62%;
}

#aliens-real .buttons {
    display: flex;
    gap: 60px;

    position: absolute;
    bottom: -38px;
    left: 450px;
}

#yes-aliens:hover, #no-aliens:hover,.next:hover, .prev:hover{
    cursor: pointer;
}

.text:hover {
    cursor: text;
}


#aliens-fake, #aliens-fake-img {
    display: none;
}

#aliens-real, #aliens-real-img {
    display: none;
    position: absolute;
}

#aliens-real .inputdiv, #aliens-fake .inputdiv {
    margin-bottom: 2rem;
}

#init-qs .inputdiv {
    display: flex;
    margin-block: 2rem;
    gap: 10px;
    justify-content: left;
}

#submit {
    display: none;
}

.prev, .next, #init-button {
    display: flex;
    align-content: center;
    justify-content: center;

    border: 3px solid #100f6890;
    background-color: #758DF8;
    color: white;

    width: 100px;
    height: 50px;

    font-weight: 700;
    font-size: 38pt;

    border-radius: 5px;
}

.prev img, .next img {
    display: flex;
    align-self: center;
    width: 50%;
    height: 80%;
}

#madlib-real {
    font-family: 'Doto', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    padding: 30px;
}

#madlib-fake {
    font-family: 'Doto', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    padding: 30px;
}

#madlib-real b, #madlib-fake b {
    font-weight: 800;
}

#submit {
    display: flex;
    align-content: center;
    justify-content: center;

    border: 3px solid #100f6890;
    background-color: #758DF8;
    color: white;

    width: 100px;
    height: 50px;

    font-family: "Doto", sans-serif;
    font-weight: 700;

    border-radius: 5px;

    text-transform: uppercase;

    position: absolute;
    left: 81%;
    top: 86.45%;
}