* {
    box-sizing: border-box;
}

img {
    display: block;
}

/* End Reset */

body {
    font-family: sans-serif;
}

main {
    position: relative;
    height: 100vh;
}

header {
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
}

.fade-out {
    opacity: 0;
}

footer {
    text-align: center;
    font-style: italic;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}

#period {
    animation: blinking 1s ease infinite;
}

@keyframes blinking {
    0% {opacity: 1;}
    20% {opacity: 0;}
    50% {opacity: 1;}
}

article {
    display: flex;
    padding-inline: 50px;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    position: relative;
    top: 50%;

}

audio {
    width: 100%;
    margin-bottom: 1rem;
}

#decade-op {
    border-radius: 0;
}

.lightbox {
    max-width: 45rem;
    background-color: #18181a;
    color: #ced1d9;
    min-height: 500px;
    max-height: 1000px;
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: end;
    scrollbar-width: thin;
    scrollbar-color:#18181a #ced1d9  ;
    scroll-behavior: smooth;
    z-index: 2;
    box-shadow: 0px 0px 30px #00000080;
}

.cross {
    background-color: #18181a;
    border-style: ridge;
    border-color: #ced1d9;
    padding: 5px;
    display: flex;
    justify-self: end;
    cursor: pointer;
}

.crossdiv {
    background-color: #18181a;
    width: 100%;
    position: sticky;
    border-bottom: 1px solid #ced1d9;
    top: 0;
    z-index: 5;
}

.layered-image {
    justify-items: left;
    box-shadow: 0 0 30px #00000080;
    z-index: 2;
}

section, h2, h3 {
    padding-inline: 40px;
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
}

section:last-of-type {
    margin-bottom: 4rem;
}

h2 {
    font-size: 21pt;
    line-height: 1.75rem;
    animation: ENGfade 0.5s ease forwards;
}

h2:hover {
    animation: JPfade 0.5s ease;
}

@keyframes JPfade {
    from { opacity: 0;}
    to {opacity: 1;}
}

@keyframes ENGfade {
    from { opacity: 0;}
    to {opacity: 1;}
}

h3 {
    font-style: italic;
    font-weight: 600;
}

h4 {
    font-size: 16pt;
    margin-bottom: 0.75rem;
}

p

.bio ul, .funfacts ul li {
    margin-bottom: 1rem;
}

.bio ul {
    list-style-type:none;
    padding-inline-start: 0;
}

.bio ul li {
    margin-bottom: 1rem;
}

ul li ul {
    padding-inline-start: 20px;
}

ul li ul li a {
    text-decoration: none;
    color: lightblue;
    padding-inline: 2rem;
}

ul li ul li a:visited {
    color: pink;
}

.lightbox-hero {
    width: 100%;
    padding: 0;
    object-fit: cover;
}

.riderselect {
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-inline: 50px;
    margin-block: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 1;
}

#decadeoverlay, #kabutooverlay, #driveoverlay {
    cursor: pointer;
}

@keyframes h1fade {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}