body {
    background-color: black;
    width: 1200px;
    height: 750px; 
    margin: auto;
    position: relative;
    z-index: -1;
}

main {
    text-transform: uppercase;

    background: #252C4F;
    background: radial-gradient(circle, rgba(37, 44, 79, 0.75) 70%, rgba(84, 100, 181, 0.75) 100%);
    color: white;
    box-shadow: 0px 0px 50px #1db5ed;
    border-radius: 15px;
    

    width: 600px;
    height: 600px;

    margin: auto;
    margin-top: 2.85rem;

    position: relative;

    padding: 30px;

    /* overflow: hidden; */
    z-index: 1;
}

label, legend, div, #date, h1 {
    font-family: "Doto", sans-serif;
    font-weight: 600;
}

legend {
    font-size: 14pt;
    font-weight: 900;
    margin-bottom: 1.25rem;
}

h1 {
    font-weight: 900;
    font-size: 16pt;
}

fieldset {
    border: none;
}

form {
    width: 90%;
    min-width: 500px;
    margin: auto;

    font-size: 14pt;
}

#progress {
    margin-bottom: 1rem;
}

#progress-bar-back {
    width: 300px;
    height: 10px;
    background-color: #d9d9d9;
    display: flex;
    justify-self: end;

    border: solid 5px #9CA9BF;
    border-radius: 5px;
}

#progress-bar {
    width: 0px;
    height: 10px;
    background-color: #758DF8;
    transition: all 0.45s ease;
}

#progress-text {
    text-align: end;
    margin-top: 0.25rem;
    text-transform: uppercase;

    font-size: 10pt;
}

.text {
    font-family: "Doto", sans-serif;
    font-weight: 600;
    font-size: 11pt;
    color: lightgray;

    background-color: #5a5a5a;

    border: 2px solid #b0aeae63;

    padding: 3px;
    display: block;
}

.text:focus {
    outline: 2px solid aqua ;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
}

label {
    font-size: 12pt;
}

#aliens-real .text {
    display: block;
    margin-block: 0.5rem;
}

#init-qs .init-button, #init-qs label {
    display: block;
    margin-block: 0.65rem;
}

.buttons {
    display: flex;
    gap: 50px;

    position: absolute;
    left: 400px;
    bottom: 50px;
    z-index: 3;
}

#aliens-real .buttons {
    left: 337px;
    bottom: -39px;
}

#aliens-real {
    position: relative;
}


#yes-aliens:hover, #no-aliens:hover,.next:hover, .prev:hover{
    cursor: pointer;
}

.text:hover {
    cursor: text;
}

#aliens-real .inputdiv, #aliens-fake .inputdiv {
    margin-bottom: 2rem;
}

#init-qs .inputdiv {
    display: flex;
    margin-block: 2rem;
    gap: 10px;
    justify-content: left;
}

#submit {
    display: none;
}

.prev, .next, #init-button {
    display: flex;
    align-content: center;
    justify-content: center;

    border: 3px solid #100f6890;
    background-color: #758DF8;
    color: white;

    width: 75px;
    height: 40px;

    font-weight: 700;
    font-size: 38pt;

    border-radius: 5px;
}

.prev img, .next img {
    display: flex;
    align-self: center;
    width: 50%;
    height: 80%;
}

#madlib {
    font-family: 'Doto', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    padding: 30px;
    padding-top: 10px;
}

#madlib-real b, #madlib-fake b {
    font-weight: 800;
}

#submit {
    display: flex;
    align-content: center;
    justify-content: center;

    border: 3px solid #100f6890;
    background-color: #758DF8;
    color: white;

    width: 75px;
    height: 40px;

    font-family: "Doto", sans-serif;
    font-weight: 800;
    font-size: 12pt;
    text-align: center;

    border-radius: 5px;

    text-transform: uppercase;

    position: absolute;
    left: 534px;
    bottom: 50px;
}

#submit:hover {
    cursor: pointer;
}

.sky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.stars {
    position: absolute;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    animation: blinking 3s infinite ease;
    z-index: -1;
}

@keyframes blinking {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}