/* Reset */

* {
    box-sizing: border-box;
}

img {
    display: block;
}

/* End Reset */

figure {
    display: block;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    margin-top: 0.6rem;
    font-size: 10pt;
    font-style: italic;
    text-align: center;
}

html {
    background: #b8b895;
    background: radial-gradient(circle, #A3A383 33%, rgba(142, 131, 116, 1) 75%);
}

body {
    font-family: 'Edu SA Hand';
}

blockquote {
    font-style: italic;
    font-size: 15px;
    margin: 30px;
    line-height: 1.45rem;
    border-left: 2px solid rgba(128, 128, 128, 0.573);
    padding-left: 0.75rem;
}

h1 {
    margin: auto;
    font-weight: 900;
    font-size: 32pt;
    text-align: center;
}

#stickyheader {
    position: sticky;
    top: 0;
    background-color: rgba(226, 255, 176, 1);
    padding: 30px;
    z-index: 10;
    margin-bottom: 75px;
}

.journal-entry {
    width: 28%;
    margin: auto;
    margin-bottom: 150px;
    padding: 50px 50px 38px;
    background: white;
    border-radius: 8px;
    box-shadow: 15px 15px 9px rgba(0, 0, 0, 0.25);

    min-width: 600px;

    position: relative;
}

.journal-entry h2 {
    font-style: italic;
    font-weight: 600;
}

.journal-entry p {
    margin-block: 1.3rem;
    line-height: 1.55rem;
    font-weight: 420;
}

.journal-entry .date {
    font-size: 0.9rem;
    font-style: italic;
    text-align: right;
    border-bottom: 3px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 4px;
    margin-bottom: 1.1rem;
}

.journal-number {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;

    position: absolute;
    left: -2.5%;
    top: 0;

    background-color: darkblue;
    color: aliceblue;
    margin-right: 30rem;
    padding-inline: 0.45rem;
    padding-bottom: 15rem;
    padding-top: 3rem;
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgba(75, 75, 75, 0.4);
}

a {
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: navy;
}

a:active {
    color: rgb(73, 25, 117);
}

.pen {
    position: absolute;
    width: auto;
    height: 570px;

    left: 101%;
    bottom: 6%;

    transform: rotate(12deg);
}